<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ece356.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewDetailServlet</servlet-name>
        <servlet-class>ece356.ReviewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFriendRequestsServlet</servlet-name>
        <servlet-class>ece356.ViewFriendRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <servlet-class>ece356.DoctorProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientProfileServlet</servlet-name>
        <servlet-class>ece356.PatientProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendServlet</servlet-name>
        <servlet-class>ece356.AddFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSearchServlet</servlet-name>
        <servlet-class>ece356.PatientSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSearchServlet</servlet-name>
        <servlet-class>ece356.DoctorSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewDetailServlet</servlet-name>
        <url-pattern>/ReviewDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFriendRequestsServlet</servlet-name>
        <url-pattern>/ViewFriendRequestsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <url-pattern>/DoctorProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientProfileServlet</servlet-name>
        <url-pattern>/PatientProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendServlet</servlet-name>
        <url-pattern>/AddFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSearchServlet</servlet-name>
        <url-pattern>/PatientSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSearchServlet</servlet-name>
        <url-pattern>/DoctorSearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>MySQL connection pool</description>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
